.about-body {
  background-image: linear-gradient(
    var(--background-color-light),
    var(--background-color-dark)
  );
}

.ab-img-header {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.756),
      rgba(0, 0, 0, 0.409)
    ),
    url("/img/contact-about/about-hero.jpg");
  height: 96vh;
  background-size: cover;
  background-position: top;
  position: relative;
  //-webkit- needs to be used so it can work in every browser since the property is new to modern CSS
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  width: auto;
  position: relative;

  &__text-box {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70vw;
  }
}

.ab-h1-heading {
  display: flex;
  flex-direction: column;
  color: var(--background-color-white);

  &__title {
    font-size: 10rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;
  }
  &__sub-title {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out;
  }
}

.middle-section {
  width: 100vw;
  height: 100vh;
  padding: 40px 5vw;
}

.middle-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem;
  margin: 0 0 20rem 0;
}

.section-middle-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.middle-info {
  width: 50%;
  height: 100%;
  background-color: var(--background-color-white);
  display: block;
  margin-left: auto;
  padding: 5rem;
  text-align: center;
}

.middle-title {
  font-family: "Josefin Slab", serif;
  font-size: 5rem;
  text-align: center;
}

.info {
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  line-height: 4rem;
  opacity: 0.5;
  height: 100%;
}

/*  */
.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

.heading h1 {
  font-size: 50px;
  color: black;
  margin-right: 25px;
  position: relative;
  margin-bottom: 75px;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}

.heading p {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 35px;
}

/* flipped cards */

#title {
  color: #20263f;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  display: block;
  text-align: center;
  margin: 20rem 0 20rem 0;
}
.ab-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.ab-cards__single {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-align: center;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position: relative;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}

.ab-cards__image {
  text-align: center;
  width: 100%;
  border-radius: 16px;
}

.ab-cards__single.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.ab-cards__artist,
.ab-cards__album {
  color: #20263f;
}

.ab-cards__front img {
  margin: 0;
  height: 250px;
}

.ab-cards__album {
  font-style: italic;
}

h2 {
  margin: 0;
  text-align: center;
}

li {
  line-height: 21px;
}

.ab-cards__front,
.ab-cards__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.ab-cards__front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.ab-cards__back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
  color: #20263f;
}
.ab-cards__back ul {
  list-style: none;
}
@media (min-width: 768px) {
  .ab-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
    perspective: 1000px;
    align-items: stretch;
  }
  .ab-cards__single {
    width: 20%;
  }
}
