.a-background {
  background-image: linear-gradient(
    to right bottom,
    rgba(#3b5838, 0.8),
    rgba(#7fbb88, 0.8)
  );
}

//API Image----------------------------------------------------------------------------------------------------------------------------------------------------------
.a-img-header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.556),
      rgba(0, 0, 0, 0.12)
    ),
    url("/img/api-image/fruit.jpg");
  height: 96vh;
  width: auto;
  background-size: cover;
  background-position: top;
  position: relative;
  //-webkit- needs to be used so it can work in every browser since the property is new to modern CSS
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  width: auto;
  position: relative;

  &__text-box {
    position: absolute;
    top: 25%;
    left: 23%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50vw;
  }
}

.a-h1-heading {
  display: flex;
  flex-direction: column;
  color: var(--background-color-white);

  &__title {
    font-size: 11rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 2rem;
  }
  &__sub-title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out;
  }
}
// API Search Bar----------------------------------------------------------------------------------------------------------------------------------------------------------

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color-dark);
  height: 30rem;
  width: 55vw;
  border-radius: 20px;
}

.brand {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color-light);
}

.search {
  &__input {
    font-family: inherit;
    font-size: 2.5rem;
    color: black;
    background-color: var(--background-color-gray);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 40vw;
    height: 4rem;
    transition: all 0.3s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 43vw;
      background-color: var(--background-color-white);
    }
  }

  &__input:focus + &__button {
    background-color: var(--background-color-white);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem 0;
  flex-direction: column;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20rem 2.5rem;
  gap: 8rem;
}
.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color-dark);
  padding: 5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.601);
  color: var(--secondary-color-light);
}

.item img {
  border-radius: 3px;
  margin-top: 5rem;
}

.title {
  font-size: 4rem;
  text-align: center;
}

.item-data-container {
  margin: 3rem 8rem 4rem 0;
}

.item-data {
  font-size: 2rem;
}
